@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

:root {
  --text: #252B42;
  --light-text: #FFF;
  --primary: #2091F9;
  --second-text: #737373;
  --light-gray: #BDBDBD;
  --background-gradient: linear-gradient(28deg, #00F3B9 0%, #2187FF 100%);
  --light-background: #fff;
  --dark-background: #252B42;

}
/*HEADER MENU*/
.desktop_navbar{
  display: flex;
  width: 1380px;
  padding: 38px 40px 40px 20px;
  align-items: center;
  gap: 265px;
  align-self: stretch;
  margin: auto;
}
.left{
  display: flex;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
}
.right{
  display: flex;
  align-items: center;
  gap: 44px;
  width: 869px;
  height: 62px;
}
.desktop_menu{
  display:flex;
  padding:10px;
  align-items:center;
  gap:21px;
}
.text_link{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.link{
  color: var(--text);
  text-align: center;
  /* Link */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
}
.mailing_input{
  display: flex;
  align-items: center;
  gap: 12px;
}
.input{
  display: flex;
  width: 68px;
  height: 16px;
  padding: 21px 180px 17px 25px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid #E8E8E8;
  background: #EFEFEF;
}
.input_text{
  color: #B0B0B0;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1px;
}
.master_button{
  display: flex;
  padding: 19px 38px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--primary, #2091F9);
  border-style: none;
}
.text_button{
  color: var(--light-text, #FFF);
  /* Button */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
}

/*LIGHT 1*/
.light1{
  display: flex;
  padding: 120px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background: #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.product_header_main{
  color: var(--second-text, #737373);
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}
.product_main{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  width: 635px;
  height: 160px;
}
.product_main_text{
  color: #252B42;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  font-size: 58px; font-style: normal;
  font-weight: 800; 
  line-height: 80px;
  letter-spacing: 0.2px;
}
.product_main_text_grad{
  background: var(--background-gradient);
  background-clip:  text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* H1 */
  font-family: 'Montserrat',sans-serif;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.2px;
  margin: 0;
}
.product_description{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  width: 708px;
  height: 76px;
}
.product_description_text{
  color: var(--second-text, #737373);
  text-align: center;
  /* H4 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
}
.product_button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 236px;
  height: 36px;
  border-style: none;
}
.product_button_box{
  display: flex;
  width: 236px;
  padding: 16px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: var(--primary, #2091F9);
  height: 36px;
}
.product_button_text{
  color: var(--light-text, #FFF);
  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}

/*LIGHT 3*/
.light3{
  display: flex;
  padding: 160px 0px;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  align-self: stretch;
  background: #FFF;
}
.light3_itens{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
}
.light3_row{
  display: flex;
  align-items: center;
  gap: 52px;
  width: 990px;
  height: 160px;
}
.light3_f1, .light3_f2, .light3_f3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}
.light3_f1headline, .light3_f2headline, .light3_f3headline{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 56px;
}
.light3_f1headline_textbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.light3_f1headline_textbox_text{
  color: var(--text);
  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}
.light3_f1textbox, .light3_f2textbox, .light3_f3textbox{
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
}
.light3_f1textbox_text, .light3_f2textbox_text, .light3_f3textbox_text{
  color: var(--second-text);
  /* Paragraphe */
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.light3_f2headline_textbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.light3_f2headline_textbox_text{
  color: var(--text);
  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}
.light3_f3headline_textbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.light3_f3headline_textbox_text{
  color: var(--text);
  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}

/*LIGHT 5*/
.light5{
  display: flex;
  width: 1440px;
  padding: 150px 82px;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  background: #FFF;
}
.light5_content{
  display: flex;
  padding: 0px 72px;
  align-items: center;
  gap: 60px;
}
.l5_frame18{
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.l5_frame18_mac{
  width: 820.204px;
  height: 458.612px;
}
.l5_frame19{
  display: flex;
  width: 568px;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}
.l5_frame19_content{
  display: flex;
  width: 568px;
  height: 280px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.l5_f19_text1{
  width: 185px;
  height: 36px;
  display: flex;
  align-items: center;
  color: var(--primary);
  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}
.l5_f19_text2{
  width: 547px;
  height: 14px;
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  color: var(--text);
  /* H2 */
  font-family: 'Montserrat',sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.l5_f19_text3{
  width: 492px;
  height: 7px;
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  color: var(--second-text);
  /* H4 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
}

/*LIGHT 7*/
.light7{
  display: flex;
  width: 1440px;
  padding: 150px 82px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background: #FFF;
  float: right;
}
.light7_content{
  display: flex;
  padding: 0px 80px;
  align-items: center;
  gap: 60px;
}
.l7_frame19{
  display: flex;
  width: 535px;
  flex-direction: column;
  align-items: flex-start;
  gap: 69px;
}
.l7_frame19_content{
  display: flex;
  width: 535px;
  height: 261px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.l7_f19_text1{
  width: 74px;
  height: 6px;
  display: flex;
  align-items: center;
  color: var(--primary);
  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}
.l7_f19_text2{
  width: 505px;
  height: 7px;
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  color: var(--text);
  /* H2 */
  font-family: 'Montserrat',sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.l7_f19_text3{
  width: 400px;
  height: 4px;
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  color: var(--second-text);

  /* H4 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.2px;
}
.l7_frame18{
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}
.l7_frame18_mac{
  position: relative;
  margin-left: auto;
  right: 0;
  width: 820.204px;
  height: 458.612px;
}

/*LIGHT 9*/
.light9{
  display: flex;
  padding: 160px 0px;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  align-self: stretch;
  background: #FFF;
}
.light9_textcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.l9_textbox1{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_text1{
  color: var(--text);
  text-align: center;

  /* H2 */
  font-family: 'Montserrat',sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.l9_textbox2{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_text2{
  color: var(--second-text);
  text-align: center;
  
  /* H4 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;  
}
.light9_items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
}
.light9_row{
  display: flex;
  align-items: center;
  gap: 52px;
}
.l9_feature1{
  width: 244px;
  height: 330px;
  display: flex;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background: var(--light-background);

  /* SHADOW */
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.logo_gorgeous_box{
  display: flex;
  padding: 3px 1px;
  align-items: center;
  gap: 10px;
}
.logo_gorgeous{
  width: 62px;
  height: 57.551px;
  fill: var(--primary, #2091F9);
}
.l9_f1_header{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  width: 222px;
  height: 36px;
}
.l9_f1_header_text{
  color: var(--text);

  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.l9_f1_textbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f1_text{
  color: var(--second-text);
  text-align: center;
  
  /* Paragraphe */
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.l9_f1_linkbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f1_linkbox_text{
  color: var(--primary);

  /* Link */
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  text-decoration: none;
}
.l9_feature2{
  width: 244px;
  height: 329px;
  display: flex;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background: var(--light-background);
  
  /* SHADOW */
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.logo_perf_box{
  display: flex;
  padding: 3px 1px;
  align-items: flex-start;
  gap: 10px;
}
.logo_perf{
  width: 62px;
  height: 57.336px;
  fill: var(--primary);
}
.l9_f2_header{
  width: 165px;
  height: 36px;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f2_header_text{
  color: var(--text);

  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.l9_f2_textbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f2_text{
  color: var(--second-text);
  text-align: center;
  
  /* Paragraphe */
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.l9_f2_linkbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f2_linkbox_text{
  color: var(--primary);

  /* Link */
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  text-decoration: none;
}
.l9_feature3{
  width: 244px;
  height: 334px;
  display: flex;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background: var(--light-background);
  
  /* SHADOW */
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.logo_content_box{
  display: flex;
  padding: 3px 1px;
  align-items: flex-start;
  gap: 10px;
}
.logo_content{
  width: 62px;
  height: 62px;
  fill: var(--primary);
}
.l9_f3_header{
  width: 103px;
  height: 36px;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f3_header_text{
  color: var(--text);

  /* H3 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.l9_f3_textbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f3_text{
  color: var(--second-text);
  text-align: center;
  
  /* Paragraphe */
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.l9_f3_linkbox{
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l9_f3_linkbox_text{
  color: var(--primary);

  /* Link */
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  text-decoration: none;
}

/*LIGHT 8*/
.light8{
  display: flex;
  padding: 130px 0px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  align-self: stretch;
  background: var(--dark-background);
}
.l8_textcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.l8_text1{
  display: flex;
  width: 349px;
  height: 57px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l8_text1_text{
  color: var(--light-text);
  text-align: center;
  
  /* H2 */
  font-family: 'Montserrat',sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.l8_text2{
  width: 492px;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.l8_text2_text{
  color: var(--light-gray);
  text-align: center;
  
  /* H4 */
  font-family: 'Montserrat',sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  font-weight: bold;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}
.l8_actioncontent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}
.l8_actionbuttons{
  display: flex;
  align-items: center;
  gap: 16px;
}
.l18_button1{
  display: flex;
  padding: 18px 31px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border-style: none;
  background: var(--primary);
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--light-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  text-decoration: none;
}
.l18_button2{
  display: flex;
  padding: 16px 45px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--primary);
  border: 1px solid var(--light-background);
  color: var(--light-text);
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

/*FOOTER*/
.light2{
  display: flex;
  width: 1210px;
  height: 133px;
  align-items: center;
  background: #FFF;
  margin: auto;
}
.footer_logo_box{
  display: flex;
  width: 206px;
  height: 78px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.footer_logo{
  display: flex;
  width: 206px;
  height: 78px;
  padding: 0px 20px 20px 0px;
  align-items: center;
  flex-shrink: 0;
}
.social_imgs{
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin: auto;
}
.footer_subtitle{
  display: inline-flex;
  padding: 0px 10px;
  align-items: center;
  gap: 10px;
}
.footer_text{
  color: var(--second-text);
  text-align: right;
  /* Subtitle */
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: 0.1px;
}
